* {
  box-sizing: border-box;
  font-size: 28px;
}

.Calc {
  display: flex;
  margin: auto;
  margin-top: 100px;
  padding: 70px;
  width: 80%;
}

.Calc h1 {
  font-size: 44px;
}

.calculator {
  margin: auto;

  /* margin-top: 500px; */
  width: 600px;
  max-width: 600px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto  auto;
  background-color: brown;
}
.ac { grid-area: ac; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.zerot { grid-area: zerot; }

.operators {
  display: grid;
  grid-template-areas:
    'ac addminus percentage division'
    'seven eight nine multiply'
    'four five six minus'
    'one two three add'
    'zerot zerot dot equal';
}

.display {
  width: 100%;
  padding: 12px 7px;
  text-align: right;
}

.btn {
  padding: 12px;
  width: 100%;
}

.operand {
  background-color: rgb(251, 151, 80);
}

input {
  width: 100%;
}
